/* Global Component */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-color: #22242a;
    
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Result and header styling */
.x,.o { 
    font-size: 50px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.o {
    text-shadow: .2rem -0.2rem 1rem #f30000,0.2rem 0.2rem 1rem #f30000;
}
.o.active {
    border-bottom: 2px solid #f30000;
}
.x {
    text-shadow: .2rem -0.2rem 1rem #08f,0.2rem 0.2rem 1rem #08f;
}
.x.active {
    border-bottom: 2px solid #08f;
}
.result-x,.result-o {
    font-size: 40px;
}

/* Squares */
.squares {
    width: 423px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:8px;
    background-color: #1b1e22;
    padding: 8px;
}
.squares div{
    width: 130px;
    height: 130px;
    background-color: #22242a;
    cursor: pointer;
}
@media screen and (max-width:470px){
    .squares { 
        width: 290px;
        padding: 5px;
        gap:5px;
    }
    .squares div{
        width: 90px;
        height: 90px;
    }     
}
@media screen and (max-width:300px){
    .squares { 
        width: 230px;
        padding: 5px;
        gap:5px;
    }
    .squares div{
        width: 70px;
        height: 70px;
    }     
}
.squares span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.squares span {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.squares div span.active {
    opacity: 1;
}

/* Reset Button */
.reset {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 5px;
}
